# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Enforce tabs in MakeFile for proper formatting
Makefile text eol=lf

# Set C source and header files to be treated as C language for syntax highlighting
*.c linguist-language=C
*.h linguist-language=C
